
@import "reset";

@import url("https://use.typekit.net/qpz8pfp.css");


$primary-color: #000;
$secondary-color: #fff;

$body-font: "neue-haas-grotesk-display";


html {
    min-height: 100%;
}

body {
    background-color:$secondary-color;
    font-family: neue-haas-grotesk-display;
    font-size: 26px;
    font-weight: 400;
}