
@import "reset";

@font-face {
    font-family:  "Lab Mono Regular";
    src: url(fonts/labmono-regular.woff), url(fonts/labmono-regular.woff2);
  }

@import url("https://use.typekit.net/qpz8pfp.css");


$primary-color: #000;
$secondary-color: #fff;

$body-font: "neue-haas-grotesk-display";


html {
    min-height: 100%;
}

body {
    background-color:$secondary-color;
    font-family: Lab Mono Regular;
    font-size: 18px;
    font-weight: 400;
}

header {
    padding: 20px;
    border-bottom: 1px solid #000;
}

div.logo-wrap {
    display: flex;
    align-items: center;

    p {
        font-family: $body-font;
        font-size: 15px;
        margin-left: 1px;
        margin-top: -3px;
        font-weight: 500;
    }
}

div.dot {
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
}