
@import "reset";

@font-face {
    font-family:  "Lab Mono Regular";
    src: url(fonts/labmono-regular.woff), url(fonts/labmono-regular.woff2);
  }

@import url("https://use.typekit.net/qpz8pfp.css");


$primary-color: #000;
$secondary-color: #fff;

$body-font: "neue-haas-grotesk-display";


html {
    min-height: 100%;
}

body {
    background-color:$secondary-color;
    font-family: Lab Mono Regular;
    font-size: 18px;
    font-weight: 400;
}

/* h1.logo::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $primary-color;
} */